<nav>
    <div class = "site-title">
        <a href ="/"><h1>BinitS Blogs</h1></a>
        <p class = "nav-slogan"> My first Bloging site</p>
    </div>

    <ul>
        <li><a class = "Glows" href="/">Blogs</a></li>
        <li><a class = "Glows" href = "/about">About</a></li>
        <li><a class = "Glows" href = "blogs/create">New Blogs</a></li>
    </ul>
</nav>

