@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Style+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
  font-family: 'Dancing Script', cursive; /*change !!*/
  /* font-family: 'Style Script', cursive; */
}
body{
  max-width: 1200px;
  /* margin: 20px auto;
  padding: 0 20px; */
  font-family: 'Noto Serif', serif;
  max-width: 1200px;
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  background-color: #F2BB7B;
   
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
  /* font-family: 'Dancing Script', cursive; change !! */
  margin-right: 20px; /*edited*/
  color: black;

}
nav h1{
  font-size: 3em;
}
nav p, nav a{
  color:black;
  font-weight: 300;
}
footer{
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2{
  margin-bottom: 40px;
  font-family: 'Dancing Script', cursive;
}
h3{
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content{
  margin-left: 20px;
}

/* index styles */
.blogs a{
  display: block;
  margin:40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
  
}
.blogs a:hover h3{
  color:crimson;
  
}
/* details styles */
.details{
  position: relative;
}
.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
}
.delete:hover{
  cursor: pointer;
  background-color: rgba(220, 20, 60, 0.87);
  box-shadow: 1px 2px 3px rgba(220, 20, 60, 0.87);
}
/* create styles */
.create-blog form{
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label{
  display: block;
  margin-top: 24px;
}
textarea{
  height: 120px;
}
.create-blog button{
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
.Glows:hover{
    filter: drop-shadow(3px 3px 1px #444040);
    color: red;
}

.nav-slogan{
  font-family: 'Dancing Script', cursive; /*change !!*/

}

.Cardview{
  background-color: bisque;
  filter: drop-shadow(3px -3px 4px grey);
  box-shadow: 0 6px 12px rgb(0 0 0 / 0.6);
  position:absolute;
  top:30px;
  left: 250px;
  /* border-radius: 40px 40px 40px 40px; */
}

.Cardview-blogs{
  background-color: bisque;
  filter: drop-shadow(3px -3px 4px grey);
  box-shadow: 0 6px 12px rgb(0 0 0 / 0.6);
  position:absolute;
  top:30px;
  left: 250px;
  right: 250px;
  /* border-radius: 40px 40px 40px 40px; */
}

.site-title{
  margin-top: 20px;
  margin-left:20px;
}

.out-template-2{
  height: 700px;
  width: 1838px;
  position: relative;
  background-color: #F1E9E5;
  left:-500px;
  top:-20px;
}
.out-template-1{
  height: 700px;
  width: 1838px;
  position: relative;
  background-color: #EFE3D0;
  left:-500px;
  top:-20px;
}
.out-template-3{
  height: 600px;
  width: 1838px;
  position: relative;
  background-color: FEFFE2;
  left:-500px;
  top:-20px;
  bottom:-20px;
}

.stylish-box{
  height: 300px;
  width: 300px;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  background-image: url("/public/img/messifan.PNG");
  margin-left:60px;
  background-color: rgba(0, 0, 0, 0.164);
  position: absolute;
}
.headlines-style{
  text-align: Center;
  font-family: 'Dancing Script', cursive; 
  font-size: 35px;
  padding-left: 350px;
}
.catergory-news{
  text-align: right;
  font-size: 35px;
  position: absolute;
  left: 370px;
  height:40px;
  width: 250px;
}
.stylish-container{
  position: relative;
  height: 300px;
  width:100px;
}

.grid-descrip{
  position: absolute;
  left: 410px;
  top: 80px;
  background-color: blanchedalmond;
  height:200px;
  width:520px;
  padding-left: 10px;
  filter: drop-shadow(3px -3px 8px grey);

}

.cat-title{
  font-size: 20px;
  padding-left: 5px;
  position:absolute;
  top:10px;
  padding-bottom: 10px;;
  /* border-bottom: 2px white; */

}

.cat-descrip{
  padding-left: 5px;
  position: absolute;
  top:60px;

}
.btn{
  position: absolute;
  top: 80px;
}


